#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

.links {
  display: grid;
  grid-template-columns: 50% 50%;
}

.favegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.hide{
    display: none;
}
.show{
    color: green;
}